// ===COLORS===
$headers-color: #ECECEC;
$text-color: #FAFAFA;
$description-color: #A3A3B1;
$theme-color: #151515;
$navbar-color : $theme-color;
$lavender-color: #5C53F3;
$citrus-color: #B9E01E;
$lime-color: #D3F261;
$banner-color: #2D2763;
$link-color: #887DFF;
$darkgrey-color: #2F2F3D;

// ===SIZES===
