.StoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.StoreHeading1 {
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #ECECEC;

}

.StoreText1 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #A3A3B1;

}

@media screen and (max-width: 991px) {

    .StoreIcon {
        width: 40%;
    }

    .StoreHeading1 {
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 42px;
        text-align: center;
        color: #ECECEC;
    
    }
    
    .StoreText1 {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        color: #A3A3B1;
    
    }
}