.IdeMain {
    margin: 148px 0;
}

.IdeHeading1 {
    width: 762px;
    height: 104px;

    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 42px !important;
    line-height: 52px !important;
    text-align: center !important;
    color: #ECECEC !important;

}

.IdeHeading2 {
    width: 972px;
    height: 32px;

    margin-top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #A3A3B1;
}

.IdeIcon {
    background: linear-gradient(208.2deg, #43434A 3.37%, rgba(28, 28, 35, 0) 93.73%), #151515;
    border-radius: 36px;
    box-shadow: rgba(92, 83, 243, 0.75) 0px 32px 128px;
}

@media screen and (max-width: 991px) {
    .IdeHeading1 {
        width: 361px;
        height: 52px;
    
        font-style: normal !important;
        font-weight: 300 !important;
        font-size: 18px !important;
        line-height: 26px !important;
        text-align: center !important;
        color: #ECECEC !important;
    
    }

    .IdeHeading2 {
        width: 361px;
        height: 16px;
    
        margin-top: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        color: #A3A3B1;
    }

    .IdeIcon {
        width: 40%;
        position: relative;
    }
}