#navbar {
    background: #151515 !important;
  
  }

  
  #navBtn {
    background-color: #5C53F3;
    width: 289px;
    height: 48px;
    border-radius: 4px;
    font-weight: bold;
    margin: 16px 0 16px 0;
  }
  
  #basic-nav-dropdown {
    color: #FAFAFA !important;
  }