.header1 {
    width: 596px;
    height: 88px;
    margin: auto;
    margin-top: 128px;
    margin-bottom: 48px;

    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 44px;
    text-align: center;
    color: #FAFAFA;

}

.CardIMG {
    width: 256px !important;
    height: 256px !important;
    margin: auto;
}

.Card {
    background: #151515 !important;
    border: none !important;
}

.cardTitle {
    margin-top: 48px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 32px !important;
    line-height: 40px !important;
    color: #ECECEC !important;
}

.cardText {
    margin-top: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    text-align: center !important;
    color: #A3A3B1 !important;

}

@media screen and (max-width: 991px) {
    .header1 {
        width: 298px;
        height: 44px;
        margin: auto;
        margin-top: 64px;
        margin-bottom: 48px;

        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 22px;
        text-align: center;
        color: #FAFAFA;

    }

    .CardIMG {
        width: 128px !important;
        height: 128px !important;
        margin: auto;
    }

    .cardTitle {
        margin-top: 24px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 32px !important;
        line-height: 40px !important;
        color: #ECECEC !important;
    }

    .cardText {
        margin-top: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 28px !important;
        text-align: center !important;
        color: #A3A3B1 !important;
    
    }
}