.HeroHeading1 {
    width: 647px;
    height: 144px;

    margin: 48px 0;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 72px;
    color: #ECECEC;

}

.HeroHeading2 {
    width: 545px;
    height: 32px;

    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #FAFAFA;
}

.HeroHeading3 {
    /* width: 545px; */
    height: 28px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #A3A3B1;
}

.HeroSection {
    display: flex;
}

#startBtn {
    background: #B9E01E;
    border: #B9E01E solid 1px;
    color: black;
    width: 168px;
    height: 48px;
}

#devBtn {
    width: 264px;
    height: 48px;
    background: #151515;
    border: #5C53F3 solid 1px;
    color: #5C53F3;
    margin: 48px;
}

@media screen and (max-width: 991px) {
    .HeroSection {
        display: flex;
        flex-direction: column;
    }

    .HeroHeading1 {
        width: auto;
        height: 100px;


        margin: 0;
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 50px;
        color: #ECECEC;

    }

    .HeroHeading2 {
        width: auto;
        height: auto;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #FAFAFA;
    }

    .HeroHeading3 {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #A3A3B1;
        margin: 0 0 40px 0;
    }

    #devBtn {
        width: 264px;
        height: 48px;
        background: #151515;
        border: #5C53F3 solid 1px;
        color: #5C53F3;
        margin: 12px 0;
    }

    .HeroImage {
        display: none;
    }
}